@import "tailwindcss";
@import './_fonts.css';

@theme {
    --color-primary: #9C0B26;
    --color-secondary: #4B4B4B;
    --color-tertiary: #D6A756;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: #D6A756;
    :root {
    --header-height: 4rem; /* Adjust based on your actual header height */
}

@media (min-width: 768px) {
    :root {
        --header-height: 5rem;
    }
}

section#home-section {
    height: calc(100vh - var(--header-height));
    min-height: 500px;
}
}
header {
    background-color: transparent;
    box-shadow: none;
}